@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; /* Navbar yüksekliği kadar pay bırakır */
}

body {
  
  background-color: #0f172a;
  color: #ffffff;
  /* İNCE GRİD DESENİ */
  background-image: linear-gradient(to right, #4f4f4f2e 1px, transparent 1px),
    linear-gradient(to bottom, #4f4f4f2e 1px, transparent 1px);
  background-size: 14px 24px;
  /* Kenarlara doğru karartma (Vignette) efekti */
  mask-image: radial-gradient(ellipse at center, black 60%, transparent 100%);
}
/* Webkit tarayıcılar (Chrome, Edge, Safari) için */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a; 
}

::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #06b6d4; /* Hover olunca Cyan rengi parlasın */
}